
HomeWork04/out/production/HomeWork04/HomeWork04.iml
HomeWork04/out/production/HomeWork04/.idea/vcs.xml
HomeWork04/out/production/HomeWork04/.idea/modules.xml
HomeWork04/out/production/HomeWork04/.idea/misc.xml
HomeWork04/HomeWork04.iml
HomeWork04/.idea/vcs.xml
HomeWork04/.idea/modules.xml
HomeWork04/.idea/misc.xml
HomeWork03/out/production/HomeWork03/Tasks.txt
HomeWork03/out/production/HomeWork03/HomeWork03.iml
HomeWork03/out/production/HomeWork03/.idea/vcs.xml
HomeWork03/out/production/HomeWork03/.idea/modules.xml
HomeWork03/out/production/HomeWork03/.idea/misc.xml
HomeWork03/HomeWork03.iml
HomeWork03/.idea/vcs.xml
HomeWork03/.idea/modules.xml
HomeWork03/.idea/misc.xml
HomeWork02/out/production/HomeWork02/Tasks.txt
HomeWork02/out/production/HomeWork02/Homework07.class
HomeWork02/out/production/HomeWork02/Homework06.class
HomeWork02/out/production/HomeWork02/Homework05.class
HomeWork02/out/production/HomeWork02/Homework04.class
HomeWork02/out/production/HomeWork02/Homework03.class
HomeWork02/out/production/HomeWork02/HomeWork02.iml
HomeWork02/out/production/HomeWork02/Homework02.class
HomeWork02/out/production/HomeWork02/Homework01.class
HomeWork02/out/production/HomeWork02/.idea/vcs.xml
HomeWork02/out/production/HomeWork02/.idea/modules.xml
HomeWork02/out/production/HomeWork02/.idea/misc.xml
HomeWork02/HomeWork02.iml
HomeWork02/.idea/vcs.xml
HomeWork02/.idea/modules.xml
HomeWork02/.idea/misc.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/f/5/f5cbf8bc23c5f7a3bb4878c8ece0efc11ee35aa3
.idea/sonarlint/issuestore/e/f/ef55248e5fd82ff20e653365ffb21f6a3ab06433
.idea/sonarlint/issuestore/e/9/e922643236c617ea632fe06e8a6c17f089ad763e
.idea/sonarlint/issuestore/e/8/e854dea4cb78a012218cd4e11b0020bd1b47f7fc
.idea/sonarlint/issuestore/c/7/c78af522dca5918ce7227dd64f04220c112c093d
.idea/sonarlint/issuestore/7/e/7eee019c8b48d7650232019b99d37946e7124e97
.idea/sonarlint/issuestore/7/c/7cde9d6da0fe3d3f041c9eb121fe5069723041ac
.idea/sonarlint/issuestore/7/3/734d13dee731743d0d789186c51e2dba113a6980
.idea/sonarlint/issuestore/7/2/720d9c7ddcacd007b457036ab55530b9cf1b45c8
.idea/sonarlint/issuestore/3/a/3a3e6938e3caaa0d289889be0900a5bd4d16ddf3
.idea/sonarlint/issuestore/2/b/2b7aad7318c80d1fb0f9ea6a64588ea30eaa34a3
.idea/sonarlint/issuestore/1/5/15629fffb51fdd38c10873d73f50f6f6e09a24e4
.idea/sonarlint/issuestore/0/e/0e4af5420e041f60289604bf27e741f4d2ebeed0
.idea/modules.xml
.idea/misc.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
HomeWork06/.idea/codeStyles/codeStyleConfig.xml
HomeWork06/.idea/codeStyles/Project.xml
HomeWork06/.idea/misc.xml
HomeWork06/.idea/modules.xml
HomeWork06/.idea/sonarlint/issuestore/2/5/255c33b814bdd69885bb4186b8a3bbc1ff64722a
HomeWork06/.idea/sonarlint/issuestore/5/e/5e12bbe9c3a75a3758c576445969a773840decee
HomeWork06/.idea/sonarlint/issuestore/8/f/8fb410b400b2003c592ccdaf451e4ab166fa28f8
HomeWork06/.idea/sonarlint/issuestore/a/9/a9229e719e96c57c679917d2d279340fcf4f2257
HomeWork06/.idea/sonarlint/issuestore/b/b/bbbd8399d56e8bca1d1dec887d193ecdedea4965
HomeWork06/.idea/sonarlint/issuestore/index.pb
HomeWork06/.idea/uiDesigner.xml
HomeWork06/.idea/vcs.xml
HomeWork06/out/production/HomeWork06/.idea/codeStyles/codeStyleConfig.xml
HomeWork06/out/production/HomeWork06/.idea/codeStyles/Project.xml
HomeWork06/out/production/HomeWork06/.idea/misc.xml
HomeWork06/out/production/HomeWork06/.idea/modules.xml
HomeWork06/out/production/HomeWork06/.idea/vcs.xml
HomeWork06/out/production/HomeWork06/HomeWork06.iml
HomeWork06/out/production/HomeWork06/sofronov01/Channel.class
HomeWork06/out/production/HomeWork06/sofronov01/Main.class
HomeWork06/out/production/HomeWork06/sofronov01/Program.class
HomeWork06/out/production/HomeWork06/sofronov01/RemoteController.class
HomeWork06/out/production/HomeWork06/sofronov01/TV.class
HomeWork07/HomeWork07.iml
out/production/HomeWork07/ru/sofronov01/Book$Builder.class
out/production/HomeWork07/ru/sofronov01/Book.class
out/production/HomeWork07/ru/sofronov01/Main.class
out/production/HomeWork07/ru/sofronov01/User$Builder.class
out/production/HomeWork07/ru/sofronov01/User.class
out/production/HomeWork08/ru/sofronov01/Circle.class
out/production/HomeWork08/ru/sofronov01/Ellipse.class
out/production/HomeWork08/ru/sofronov01/GeometricFigure.class
out/production/HomeWork08/ru/sofronov01/Main.class
out/production/HomeWork08/ru/sofronov01/Rectangle.class
out/production/HomeWork08/ru/sofronov01/Square.class
sidikov_marsel_stc_30.iml
HomeWork08/HomeWork08.iml
.idea/sonarlint/issuestore/f/e/febd04c18ee3b8ca2740da2ca7a37b3dd7e51ce8
.idea/sonarlint/issuestore/e/1/e1b74c090d7f77d3536132dc476228606da5cc94
.idea/sonarlint/issuestore/e/1/e1972ac1593b4d1875ef8fde971c6878f628ee83
.idea/sonarlint/issuestore/b/5/b5ecf640609e8dc6d0a27dd7cd72c8f4a5b6e0ab
.idea/sonarlint/issuestore/b/1/b141ae4e07fd0d1edd8864aa0e17d075b93011a4
.idea/sonarlint/issuestore/9/b/9b400f058f96fd6ede9412e3905826c82023806b
.idea/sonarlint/issuestore/6/a/6a551ff77dd7d4108a48e6f9e2ef832466dfda11
.idea/sonarlint/issuestore/5/6/56d52d5ee7a50fa54cb618606642b8a3fa7657d6
HomeWork09/.idea/codeStyles/codeStyleConfig.xml
HomeWork09/.idea/codeStyles/Project.xml
HomeWork09/.idea/misc.xml
HomeWork09/.idea/modules.xml
HomeWork09/.idea/sonarlint/issuestore/0/e/0e11625a7c017501a4145a93e90fc71dbe0b0e5e
HomeWork09/.idea/sonarlint/issuestore/1/f/1ff5cf8ba80f8c07ade5727e822c5ab5bb4dddc6
HomeWork09/.idea/sonarlint/issuestore/4/b/4b2592e2b98cd41e2be48c40e510c165783cb6ad
HomeWork09/.idea/sonarlint/issuestore/5/f/5fea9dd038712c3cf0a6a6568ba4a54eeab5d629
HomeWork09/.idea/sonarlint/issuestore/6/1/617f26db20d4af2c15b36cbad418125350c8dfdd
HomeWork09/.idea/sonarlint/issuestore/7/2/72364071bc53859e6534e449c714b13acfd41118
HomeWork09/.idea/sonarlint/issuestore/7/3/73fb5e3b52a9dd14e86a3943841e69fea33064e9
HomeWork09/.idea/sonarlint/issuestore/8/e/8e2eae217ee2f80726fc24d032dc653d8387a281
HomeWork09/.idea/sonarlint/issuestore/9/b/9b0ff5e51b7d6db42322536bdfc38b0364103214
HomeWork09/.idea/sonarlint/issuestore/a/9/a9a2a59200667d71105aa2520ddd98b8699388ec
HomeWork09/.idea/sonarlint/issuestore/c/5/c598fe9113eeb08977f808454bce6844703c2e90
HomeWork09/.idea/sonarlint/issuestore/e/1/e1f59601bc714cdfc8b0c196595d8b0091019856
HomeWork09/.idea/sonarlint/issuestore/f/3/f3288687142939b6dea2dae61515101e3019a6e6
HomeWork09/.idea/sonarlint/issuestore/index.pb
HomeWork09/.idea/vcs.xml
HomeWork09/HomeWork09.iml
HomeWork09/out/production/HomeWork09/ru/sofronov03/StringProcess.class
HomeWork09/out/production/HomeWork09/ru/sofronov03/StringFormatter.class
HomeWork09/out/production/HomeWork09/ru/sofronov03/NumbersProcess.class
HomeWork09/out/production/HomeWork09/ru/sofronov03/NumbersAndStringProcessor.class
HomeWork09/out/production/HomeWork09/ru/sofronov03/Main.class
HomeWork09/out/production/HomeWork09/ru/sofronov02/StringProcess.class
HomeWork09/out/production/HomeWork09/ru/sofronov02/StringFormatter.class
HomeWork09/out/production/HomeWork09/ru/sofronov02/NumbersProcess.class
HomeWork09/out/production/HomeWork09/ru/sofronov02/NumbersAndStringProcessor.class
HomeWork09/out/production/HomeWork09/ru/sofronov02/Main.class
HomeWork09/out/production/HomeWork09/ru/sofronov01/ProcessFunction.class
HomeWork09/out/production/HomeWork09/ru/sofronov01/NumbersUtil.class
HomeWork09/out/production/HomeWork09/ru/sofronov01/Main.class
*.xml
out/production/sidikov_marsel_stc_30/.idea/sonarlint/issuestore/2/5/255c33b814bdd69885bb4186b8a3bbc1ff64722a
out/production/sidikov_marsel_stc_30/.idea/sonarlint/issuestore/5/e/5e12bbe9c3a75a3758c576445969a773840decee
out/production/sidikov_marsel_stc_30/.idea/sonarlint/issuestore/8/f/8fb410b400b2003c592ccdaf451e4ab166fa28f8
out/production/sidikov_marsel_stc_30/.idea/sonarlint/issuestore/a/9/a9229e719e96c57c679917d2d279340fcf4f2257
out/production/sidikov_marsel_stc_30/.idea/sonarlint/issuestore/b/b/bbbd8399d56e8bca1d1dec887d193ecdedea4965
*.iml
*.txt
*.pb
Test/.idea/sonarlint/issuestore/f/3/f362b499a11b265b3ee013c91766558870ea01d3
Test/.idea/sonarlint/issuestore/c/c/cc9fbaba26ee8b8f076ed3c7342c07f18016792d
Test/.idea/sonarlint/issuestore/6/9/6908b1db8790b3061cfc682711607a82d0c7648d
*.class
projectgamemaven/target/classes/schema.sql
